
/********************** Business Header Style **********************/
.sub_wrap .header {
    background: #fff;
}

.sub_wrap .header .header_wrap .logo_text {
    color: #000;
}

.sub_wrap .header .header_wrap .menu_line {
    background: #000;
}

.sub_wrap .header .header_wrap .sub_menu {
    width: 1200px;
}

/* 모바일 header style */
@media (max-width: 992px) {
    .sub_wrap .header_wrap {
        height: 80px;
        border-bottom: none;
    }

    .header_i {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header>.menu_wrap {
        border-bottom: 1px solid #000;
    }

    .header>.menu_wrap .active {
        position: relative;
    }

    .header>.menu_wrap .active::before {
        position: absolute;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        bottom: -8px;
        width: 120%;
        height: 1px;
        background-color: #000;
    }
}
